{% extends 'jobs/base.html' %}
{% load i18n %}
{% block bootstrap5_content%}
<section class="mt-5">
    <h3>{% translate "职位列表" %}</h3>
    {% for job in jobs %}
        <div class="card mt-3 bg-light">
            <div class="card-body">
                <p class="fs-5 fw-bold">{{ job.job_name }}</p>
                <p>{{ job.job_type }}, {{ job.job_city }}</p>
                <p>{{ job.job_responsibility }}</p>
                <p>{{ job.job_requirement }}</p>
                <a href="/jobs/{{ job.id }}" class="btn btn-secondary">{% translate "详情" %}</a>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}